@import "tailwindcss";

body {
  background-color: #0B1120;
  color: #F8FAFC;
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

body {
  background-color: #0b1120;
  color: #f8fafc;
  font-family: Inter, sans-serif;
}